@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._
@import java.time.LocalDate

@this(
    govUkErrorSummary: GovukErrorSummary
)

@(form: Form[LocalDate], fieldName: String = "value")(implicit messages: Messages)

@if(form.errors.nonEmpty) {
    @govUkErrorSummary(
        ErrorSummary(
            errorList = form.errors
                    .map(err => err.copy(key = err.key, args = err.args))
                    .asTextErrorLinks,
            title = Text(messages("error.summary.title"))
        )
        .withDateErrorMapping(form, fieldName)
    )
}